{% load cms_tags menu_tags sekizai_tags static i18n %}
<!doctype html>
<html>
<head>
    <title>{% block title %}Welcome to Mutale Peter's website{% endblock title %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% if GOOGLE_ANALYTICS_PROPERTY_ID %}
        {% include 'themes/page_components/google_analytics.html' %}
    {% endif %}
    {% render_block "css" %}
    <link href="https://fonts.googleapis.com/css?family=Lato:300|Pacifico|Quicksand" rel="stylesheet">
    <link href="{% static "themes/css/bootstrap/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "themes/css/bootstrap/styles.css" %}" rel="stylesheet">
</head>
<body>
{% cms_toolbar %}
<div id="tray" class="topbar">
    <div class="fill"><span class="text text-info"></span></div>
</div>
<div class="container">
    {% block navbar %}
        <p class="alert alert-info">Welcome to our Website</p>
    {% endblock %}

    <hr>
    {% block content %}
        {% placeholder "header" %}
        {% placeholder "content" %}
        {% placeholder "footer" %}
    {% endblock content %}
</div>
<script type="application/javascript" src="{% static 'themes/js/bootsrap/popper.min.js' %}"></script>
<script type="application/javascript" src="{% `static 'themes/js/bootsrap/jquery.slim.min.js' %}"></script>
<script type="application/javascript" src="{% static 'themes/js/bootsrap/jquery.min.js' %}"></script>
<script type="application/javascript" src="{% static 'themes/js/bootsrap/tether.min.js' %}"></script>
<script type="application/javascript" src="{% static 'themes/js/bootsrap/jquery.countdown.js' %}"></script>
<script type="application/javascript" src="{% static 'themes/js/bootsrap/bootstrap.min.js' %}"></script>
{% render_block "js" %}
</body>
</html>
