{% extends 'base.html' %}

{% load static i18n sekizai_tags %}

{% block content %}
    <div class="card">
        <div class="card-block">
                <h4 class="card-title">{{ question.project.name }}</h4>
                {% for rep in report %}
                    <h6 class="card-subtitle mb-2 text-muted">
                        <strong>Version:</strong> {{ rep.version }}
                        <strong>Report:</strong> {{ rep.question.question }}
                        <strong>Question number:</strong> {{ rep.question.number }}
                    </h6>
                {% endfor %}
                <p class="card-text">{{ question.question }}</p>
                <p class="card-text">{{ question_already }}</p>
                <a href="#" class="card-link">Quesiton link</a>
        </div>

    </div>
    {% if question_filled %}
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Well done!</h4>
            <p>{% trans 'Aww yeah, you successfully filled this question' %}</p>
            <p class="mb-0">{% trans 'Whenever you need to, be sure to use always look at you grammar' %}</p>
        </div>
    {% else %}
        <form class="" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group row">
                    <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
                    <div class="col-sm-10">
                        {#                    {{ field.tag }}#}
                        {#                        <textarea rows="10" cols="70" name="{{ field.html_name }}"#}
                        {#                               class="form-control" id="{{ field.id_for_label }}"#}
                        {#                                  placeholder="{% if field.value %}{{ field.value }}{% else %}Fill in Text{% endif %}"></textarea>#}
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">{% trans 'Add Report' %}</button>
                </div>
            </div>
        </form>
    {% endif %}
    {#    <form action="" method="post">#}
    {#        {% csrf_token %}#}
    {#        {{ formset }}#}
    {#        {% for field in form %}#}
    {#            <div class="form-group row">#}
    {#                <label class="col-sm-2 col-form-label">{{ field.label }}</label>#}
    {#                <div class="col-sm-10">#}
    {#                    {% if field.name == 'questions' %}#}
    {#                        <input type="" class="form-control" id="{{ field.id }}" placeholder="{{ field.label }}">#}
    {#                    {% elif field.name == 'completed' %}#}
    {#                        <input type="date" class="form-control" id="{{ field.id }}" placeholder="{{ field.label }}">#}
    {#                    {% else %}#}
    {#                        <input id="{{ field.id_for_label }}" type="{{ field.input_type }}" class="form-control"#}
    {#                               placeholder="{{ field.label }} {{ field.type }}">#}
    {#                    {% endif %}#}
    {#                </div>#}
    {#            <div class="offset-sm-2 col-sm-10">#}
    {#                <small>{{ field.help_text|safe }}</small>#}
    {#            </div>#}
    {#            </div>#}
    {#        {% endfor %}#}
    {#        <div class="form-group row">#}
    {#            <div class="offset-sm-2 col-sm-10">#}
    {#                <button type="submit" class="btn btn-primary">{% trans 'Add Report' %}</button>#}
    {#            </div>#}
    {#        </div>#}
    {#    </form>#}
{% endblock %}