{% extends 'stick2uganda/base.html' %}
{% load i18n cms_tags static staticfiles thumbnail %}

{% block content %}
    {% thumbnail object.image "1110x425" upscale crop subject_location=object.image.subject_location as img %}
    <div class="card mb-3">
        <img class="card-img-top img-fluid" src="{{ img.url }}" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">{{ object.name }}</h4>
            <p class="card-text"> {{ object.project_summary|safe }}</p>
            <p class="card-text"><small class="text-muted">{{ object.location }}</small></p>
        </div>
    </div>
    {#    Contacts     #}
    <div class="row">
        {% for contact in object.projects_contact.all %}
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h4>
                            <i class="fa fa-address-card" aria-hidden="true">
                            </i> {% trans 'Contacts' %}
                        </h4>
                    </div>
                    <div class="card-block">
                        <blockquote>
                            <h3 class="card-title">{{ contact.name }}</h3>
                            <p class="card-text">

                            <address>
                                <a href="{{ contact.email }}">{{ contact.email }}</a><br>
                                <abbr title="Phone">P:</abbr> {{ contact.telephone }}
                            </address>
                            <footer>
                                <small>Project Manager,
                                    <cite title="Source Title">
                                        <strong> {% trans 'Project' %}:  {{ contact.project }}</strong>
                                    </cite>
                                </small>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <ol class="hidden"></ol>
    {#  Reports      #}
    <div class="card text-left">
        <div class="card-header">
            <h4>
                <i class="fa fa-paperclip" aria-hidden="true"> </i>
                {% trans 'Reports' %}
            </h4>
        </div>
        <div class="card-block">
            {% for report in object.projects_report.all %}
                <h4 class="card-title">{{ report.version }} - {{ report.question.number }}: {{ report.question.question }}</h4>
                <ol class="hidden"></ol>
                <p class="card-text">
                    {% if report.question.findings %}
                        {{ report.question.findings|safe }}
                    {% else %}
                        <span class="alert alert-info"> {% trans 'There are no findings yet' %}</span>
                    {% endif %}
                </p>
                <span class="badge badge-default">
                    {% trans 'Reported on' %}:
                    <cite>
                        {% if report.question.findings %}
                            {{ report.completed }}
                        {% else %}
                            {% trans 'Yet to be reported' %}
                        {% endif %}
                    </cite>
                </span>
                <ol class="hidden"></ol>
                <hr>
            {% endfor %}
        </div>
        <div class="card-footer text-muted">
            {% blocktrans count num_reports=object.projects_report.count  %}
                There is <strong>only 1</strong> report available
            {% plural %}
                There are <strong>{{ num_reports }}</strong> reports available
            {% endblocktrans %}
        </div>
    </div>
{% endblock %}
