{% load i18n static staticfiles sekizai_tags %}

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{% url 'stick2uganda:project' %}"><strong>{% trans 'Projects' %}</strong></a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link{% if '/add-question' in request.path %} active {% endif %}"
         href="{% url 'stick2uganda:add-question' %}">{% trans 'Add Findings' %}
          <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link{% if '/add-report' in request.path %} active {% endif %}"
         href="{% url 'stick2uganda:add_findings' %}">{% trans 'Add Reports' %}</a>
      <a class="nav-item nav-link disabled" href="">Tasks</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </div>
</nav>