@import url(https://fonts.googleapis.com/css?family=Kreon);
// Colors
$green:  white;

// Reassign  color vars to semantic color scheme
$brand-primary:             $green;

//Font Family
$font-family-sans-serif: "Quicksand", Roboto, "Helvetica Neue", "Lato" Arial, sans-serif !default;

// Background
//$body-bg: #1a1b1d;
$body-bg: transparent;

body {

}