{% extends 'base.html' %}
{% load i18n sekizai_tags cms_tags %}

{% block content %}
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">{% trans "Aww, YACK!!!" %}</h4>
        <p>{% trans "The page you are looking for is not available." %}</p>
        <hr>
        <p class="mb-0">
            {% trans 'Go to the home project page a while later?' %}
            <a href="{% url 'stick2uganda:project' %}">{% trans 'Our Projects' %}</a>
        </p>
    </div>
{% endblock %}