{% extends 'base.html' %}
{% load i18n sekizai_tags cms_tags %}

{% block content %}
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">{% trans "Aww, YACK!!!" %}</h4>
        <p>{% trans "Something is terribly wrong. You can't go forward on this trail." %}</p>
        <hr>
        <p class="mb-0">
            {% trans 'Go to the home project page?' %}
            <a href="{% url 'stick2uganda:project' %}">{% trans 'Our Projects' %}</a>
        </p>
    </div>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong> {% trans 'A Server error' %}</strong> {% trans You should probably contact the admin %}.
        <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
           webmaster@mutale.nl
        </button>
    </div>
{% endblock %}