{% extends 'registration/base.html' %}
{% load cms_tags i18n sekizai_tags static %}

{% block content %}
    <div class="container">
        {% if form.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>{% trans "Your username and password didn't match. Please try again." %}</strong>
            </div>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Holy guacamole!</strong>
                    {% trans "Your account doesn't have access to this page. To proceed please login with an account that has access." %}.
                </div>
            {% else %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{% trans 'Please login to see this page.' %}</strong>
                </div>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group row">
                    <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
                    <div class="col-sm-10">
                        <input autofocus id="{{ field.id_for_label }}" name="{{ field.name }}" type="{% if field.name == 'password' %}password{% else %}text{% endif %}" required class="form-control">
                    </div>
                </div>
            {% endfor %}
            <div class="spacer"></div>
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">{% trans 'Log in' %}</button>
                </div>
            </div>
            <input type="hidden" name="next" value="{{ next }}" />

        </form>
        {# Assumes you setup the password_reset view in your URLconf #}
        {#        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}
    </div>
{% endblock %}
<form>
    <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
    </div>
    <div class="form-group row">
    </div>
</form>
</div>