{% extends 'stick2uganda/base.html' %}
{% load sekizai_tags cms_tags i18n %}

{% block content %}
    <form method="post" action="">{% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            {% for field in form %}
                <div class="form-group row">
                    <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label_tag }}</label>
                    <div class="col-sm-10">
                        {{ field }}
                    </div>
                </div>
                {% if formset.can_delete %}{{ form.DELETE }}{% endif %}
            {% endfor %}
        {% endfor %}
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
                <button type="submit" class="btn btn-primary">{% trans 'Add Reports' %}</button>
            </div>
        </div>
    </form>
    <hr>
{% endblock %}