{% extends 'base.html' %}
{% load sekizai_tags i18n %}

{% block navbar %}
    {% include 'stick2uganda/navbar/navbar.html' %}
    <ol class="hidden"></ol>
    <div class="alert alert-info" role="alert">
        {% if user.is_authenticated %}
            <strong>{% trans 'Welcome' %}, </strong> {{ user.username  }} {{ user.email }}
            <a href="{% url 'logout' %}?next=/accounts/login"> Logout</a>
        {% else %}
            <a href="{% url 'login' %}"> Login </a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}

{% endblock %}