{% extends 'base.html' %}
{% load cms_tags sekizai_tags i18n static %}

{% block navbar %}
    {% include 'stick2uganda/navbar/navbar.html' %}
    <ol class="hidden"></ol>
    <div class="alert alert-info" role="alert">
        {% if user.is_authenticated %}
            <strong>{% trans 'Welcome' %}, {{ user.first_name }}</strong> |
            <span><i class="fa fa-user-o" aria-hidden="true"></i> {{ user.username  }}</span>  |
            <span><i class="fa fa-envelope-open" aria-hidden="true"></i> {{ user.email }}</span> |
            <span class="text text-danger"> <i class="fa fa-sign-out" aria-hidden="true"></i> <a href="{% url 'logout' %}?next=/accounts/login"> Logout</a></span>
        {% else %}
            <a href="{% url 'login' %}"> Login </a>
        {% endif %}
    </div>

    <hr>
{% endblock %}

{% block content %}

{% endblock %}