{% extends 'stick2uganda/base.html' %}
{% load i18n static sekizai_tags cms_tags %}

{% block content %}
    {% for project in object_list %}
        <ul class="list-group">
            <li class="list-group-item justify-content-between">
                {% trans 'Project' %}:  {{ project.name }}
                <span class="badge badge-default">
                    {% blocktrans count num_reports=project.projects_report.count %}
                        Report: {{ num_reports }}
                        {% plural %}
                        Reports: {{ num_reports }}
                    {% endblocktrans %}
                </span>
            </li>
        </ul>
        <div class="list-group">
            <a href="{{ project.pk }}" class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ project.location }}</h5>
                    <small>{{ project.contact.name }}</small>
                </div>
                <p class="mb-1">{{ project.project_summary|safe }}</p>
                <small>
                    {% blocktrans count num_contacts=project.projects_contact.count %}
                        This project has <strong> only {{ num_contacts }} </strong> contact
                        {% plural %}
                        There are <strong> {{ num_contacts }} </strong> contacts for this project
                    {% endblocktrans %}
                    <span class="badge badge-default">
                           {{ project.start_implementation }} - {{ project.end_implementation }}
                    </span>
                </small>
            </a>
        </div>
        <hr> </hr>
    {% endfor %}
{% endblock content %}